.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1200px;
	min-height: 0px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 700px;
	margin-left: auto;
	margin-right: auto;
}

#u771
{
	z-index: 21;
	width: 187px;
	position: fixed;
	top: 329px;
	left: 50%;
	margin-left: -552px;
}

#pu776
{
	width: 0.01px;
	margin-left: 12px;
	position: relative;
}

#u776
{
	z-index: 24;
	width: 43px;
	height: 43px;
	border-color: #7F7F7F;
	background-color: #B3B3B3;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	-webkit-transform: matrix(0,1,-1,0,43,0);
	-ms-transform: matrix(0,1,-1,0,43,0);
	-o-transform: matrix(0,1,-1,0,43,0);
	transform: matrix(0,1,-1,0,43,0);
	position: relative;
	margin-right: -10000px;
	left: 61px;
}

#u779
{
	z-index: 25;
	width: 30px;
	height: 30px;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	-webkit-transform: matrix(0,1,-1,0,30,0);
	-ms-transform: matrix(0,1,-1,0,30,0);
	-o-transform: matrix(0,1,-1,0,30,0);
	transform: matrix(0,1,-1,0,30,0);
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 67px;
}

#u780
{
	z-index: 26;
	width: 130px;
	height: 164px;
	border-color: #000000;
	background-color: #C7C7C7;
	-moz-border-radius: 100px 0px 0px 100px ;
	-webkit-border-radius: 100px 0px 0px 100px ;
	-khtml-border-radius: 100px 0px 0px 100px ;
	border-radius: 100px 0px 0px 100px ;
	-webkit-transform: matrix(0,1,-1,0,147,17);
	-ms-transform: matrix(0,1,-1,0,147,17);
	-o-transform: matrix(0,1,-1,0,147,17);
	transform: matrix(0,1,-1,0,147,17);
	margin-bottom: -17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 17px;
}

#u774
{
	z-index: 28;
	width: 43px;
	height: 21px;
	border-color: #7F7F7F;
	background-color: #B3B3B3;
	-moz-border-radius: 0px 0px 100px 100px ;
	-webkit-border-radius: 0px 0px 100px 100px ;
	-khtml-border-radius: 0px 0px 100px 100px ;
	border-radius: 0px 0px 100px 100px ;
	-webkit-transform: matrix(-1,0,0,-1,43,21);
	-ms-transform: matrix(-1,0,0,-1,43,21);
	-o-transform: matrix(-1,0,0,-1,43,21);
	transform: matrix(-1,0,0,-1,43,21);
	position: relative;
	margin-right: -10000px;
	margin-top: 101px;
	left: 61px;
}

#u778
{
	z-index: 29;
	width: 15px;
	height: 15px;
	border-color: #7F7F7F;
	background-color: #B3B3B3;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	-webkit-transform: matrix(0,1,-1,0,15,0);
	-ms-transform: matrix(0,1,-1,0,15,0);
	-o-transform: matrix(0,1,-1,0,15,0);
	transform: matrix(0,1,-1,0,15,0);
	position: relative;
	margin-right: -10000px;
	margin-top: 71px;
	left: 46px;
}

#u772
{
	z-index: 30;
	width: 15px;
	height: 15px;
	border-color: #7F7F7F;
	background-color: #B3B3B3;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	-webkit-transform: matrix(0,1,-1,0,15,0);
	-ms-transform: matrix(0,1,-1,0,15,0);
	-o-transform: matrix(0,1,-1,0,15,0);
	transform: matrix(0,1,-1,0,15,0);
	position: relative;
	margin-right: -10000px;
	margin-top: 71px;
	left: 103px;
}

#u777
{
	z-index: 22;
	width: 43px;
	height: 21px;
	border-color: #7F7F7F;
	background-color: #C7C7C7;
	-moz-border-radius: 0px 0px 100px 100px ;
	-webkit-border-radius: 0px 0px 100px 100px ;
	-khtml-border-radius: 0px 0px 100px 100px ;
	border-radius: 0px 0px 100px 100px ;
	-webkit-transform: matrix(0,1,-1,0,32,-11);
	-ms-transform: matrix(0,1,-1,0,32,-11);
	-o-transform: matrix(0,1,-1,0,32,-11);
	transform: matrix(0,1,-1,0,32,-11);
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 61px;
}

#u773
{
	z-index: 23;
	width: 43px;
	height: 21px;
	border-color: #7F7F7F;
	background-color: #A9A9A9;
	-moz-border-radius: 0px 0px 100px 100px ;
	-webkit-border-radius: 0px 0px 100px 100px ;
	-khtml-border-radius: 0px 0px 100px 100px ;
	border-radius: 0px 0px 100px 100px ;
	-webkit-transform: matrix(0,-1,1,0,11,32);
	-ms-transform: matrix(0,-1,1,0,11,32);
	-o-transform: matrix(0,-1,1,0,11,32);
	transform: matrix(0,-1,1,0,11,32);
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 82px;
}

#u775
{
	z-index: 27;
	width: 30px;
	height: 187px;
	border-color: #000000;
	background-color: #B3B3B3;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	-webkit-transform: matrix(0,1,-1,0,108,79);
	-ms-transform: matrix(0,1,-1,0,108,79);
	-o-transform: matrix(0,1,-1,0,108,79);
	transform: matrix(0,1,-1,0,108,79);
	margin-bottom: -66px;
	position: relative;
	margin-right: -10000px;
	margin-top: -79px;
	left: 79px;
}

#u810-4
{
	z-index: 39;
	width: 355px;
	min-height: 41px;
	text-align: right;
	line-height: 24px;
	color: #909090;
	font-size: 20px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: fixed;
	top: 158px;
	left: 50%;
	margin-left: -395px;
}

#u761
{
	z-index: 11;
	width: 114px;
	position: fixed;
	top: 527px;
	left: 50%;
	margin-left: -365px;
}

#pu766
{
	width: 0.01px;
	margin-left: 7px;
	position: relative;
}

#u766
{
	z-index: 14;
	width: 26px;
	height: 26px;
	border-color: #7F7F7F;
	background-color: #B3B3B3;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	-webkit-transform: matrix(0,1,-1,0,26,0);
	-ms-transform: matrix(0,1,-1,0,26,0);
	-o-transform: matrix(0,1,-1,0,26,0);
	transform: matrix(0,1,-1,0,26,0);
	position: relative;
	margin-right: -10000px;
	left: 37px;
}

#u767
{
	z-index: 15;
	width: 18px;
	height: 18px;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	-webkit-transform: matrix(0,1,-1,0,18,0);
	-ms-transform: matrix(0,1,-1,0,18,0);
	-o-transform: matrix(0,1,-1,0,18,0);
	transform: matrix(0,1,-1,0,18,0);
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 41px;
}

#u762
{
	z-index: 16;
	width: 79px;
	height: 100px;
	border-color: #000000;
	background-color: #C7C7C7;
	-moz-border-radius: 100px 0px 0px 100px ;
	-webkit-border-radius: 100px 0px 0px 100px ;
	-khtml-border-radius: 100px 0px 0px 100px ;
	border-radius: 100px 0px 0px 100px ;
	-webkit-transform: matrix(0,1,-1,0,90,11);
	-ms-transform: matrix(0,1,-1,0,90,11);
	-o-transform: matrix(0,1,-1,0,90,11);
	transform: matrix(0,1,-1,0,90,11);
	margin-bottom: -10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 11px;
}

#u763
{
	z-index: 18;
	width: 26px;
	height: 13px;
	border-color: #7F7F7F;
	background-color: #B3B3B3;
	-moz-border-radius: 0px 0px 100px 100px ;
	-webkit-border-radius: 0px 0px 100px 100px ;
	-khtml-border-radius: 0px 0px 100px 100px ;
	border-radius: 0px 0px 100px 100px ;
	-webkit-transform: matrix(-1,0,0,-1,26,13);
	-ms-transform: matrix(-1,0,0,-1,26,13);
	-o-transform: matrix(-1,0,0,-1,26,13);
	transform: matrix(-1,0,0,-1,26,13);
	position: relative;
	margin-right: -10000px;
	margin-top: 62px;
	left: 37px;
}

#u768
{
	z-index: 19;
	width: 9px;
	height: 9px;
	border-color: #7F7F7F;
	background-color: #B3B3B3;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	-webkit-transform: matrix(0,1,-1,0,9,0);
	-ms-transform: matrix(0,1,-1,0,9,0);
	-o-transform: matrix(0,1,-1,0,9,0);
	transform: matrix(0,1,-1,0,9,0);
	position: relative;
	margin-right: -10000px;
	margin-top: 43px;
	left: 28px;
}

#u770
{
	z-index: 20;
	width: 9px;
	height: 9px;
	border-color: #7F7F7F;
	background-color: #B3B3B3;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	-webkit-transform: matrix(0,1,-1,0,9,0);
	-ms-transform: matrix(0,1,-1,0,9,0);
	-o-transform: matrix(0,1,-1,0,9,0);
	transform: matrix(0,1,-1,0,9,0);
	position: relative;
	margin-right: -10000px;
	margin-top: 43px;
	left: 63px;
}

#pu777,#pu764
{
	width: 0.01px;
	position: relative;
}

#u764
{
	z-index: 12;
	width: 26px;
	height: 13px;
	border-color: #7F7F7F;
	background-color: #C7C7C7;
	-moz-border-radius: 0px 0px 100px 100px ;
	-webkit-border-radius: 0px 0px 100px 100px ;
	-khtml-border-radius: 0px 0px 100px 100px ;
	border-radius: 0px 0px 100px 100px ;
	-webkit-transform: matrix(0,1,-1,0,20,-6);
	-ms-transform: matrix(0,1,-1,0,20,-6);
	-o-transform: matrix(0,1,-1,0,20,-6);
	transform: matrix(0,1,-1,0,20,-6);
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 38px;
}

#u765
{
	z-index: 13;
	width: 26px;
	height: 13px;
	border-color: #7F7F7F;
	background-color: #A9A9A9;
	-moz-border-radius: 0px 0px 100px 100px ;
	-webkit-border-radius: 0px 0px 100px 100px ;
	-khtml-border-radius: 0px 0px 100px 100px ;
	border-radius: 0px 0px 100px 100px ;
	-webkit-transform: matrix(0,-1,1,0,7,20);
	-ms-transform: matrix(0,-1,1,0,7,20);
	-o-transform: matrix(0,-1,1,0,7,20);
	transform: matrix(0,-1,1,0,7,20);
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 51px;
}

#u769
{
	z-index: 17;
	width: 18px;
	height: 114px;
	border-color: #000000;
	background-color: #B3B3B3;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	-webkit-transform: matrix(0,1,-1,0,66,48);
	-ms-transform: matrix(0,1,-1,0,66,48);
	-o-transform: matrix(0,1,-1,0,66,48);
	transform: matrix(0,1,-1,0,66,48);
	margin-bottom: -40px;
	position: relative;
	margin-right: -10000px;
	margin-top: -48px;
	left: 48px;
}

#u809-4
{
	z-index: 35;
	width: 255px;
	min-height: 41px;
	text-align: right;
	line-height: 30px;
	color: #909090;
	font-size: 25px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: fixed;
	top: 381px;
	left: 50%;
	margin-left: -295px;
}

#u760-4
{
	z-index: 31;
	display: block;
	vertical-align: top;
	position: fixed;
	top: 227px;
	left: 50%;
	margin-left: -247px;
}

#u785
{
	z-index: 2;
	width: 1431px;
	height: 2381px;
	border-color: #000000;
	background-color: #E6E4E4;
	position: fixed;
	top: -1187px;
	left: 50%;
	margin-left: 0px;
}

#u786-4
{
	z-index: 3;
	display: block;
	vertical-align: top;
	position: fixed;
	top: 186px;
	left: 50%;
	margin-left: 18px;
}

#u787-4
{
	z-index: 7;
	width: 72px;
	min-height: 41px;
	color: #909090;
	font-size: 25px;
	line-height: 30px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: fixed;
	top: 381px;
	left: 50%;
	margin-left: 27px;
}

#u811-5
{
	z-index: 43;
	width: 355px;
	min-height: 41px;
	text-align: right;
	line-height: 24px;
	color: #909090;
	font-size: 20px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: fixed;
	top: 626px;
	left: 50%;
	margin-left: 207px;
}

#u811-2
{
	font-weight: 400;
}

body
{
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

