.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1200px;
	min-height: 700px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: 541px;
	margin-bottom: 9px;
}

#u1608
{
	z-index: 2;
	width: 1431px;
	height: 2381px;
	border-color: #000000;
	background-color: #E6E4E4;
	position: fixed;
	top: -1187px;
	left: 50%;
	margin-left: 0px;
}

#u1612-4
{
	z-index: 19;
	width: 355px;
	min-height: 41px;
	font-size: 20px;
	color: #909090;
	line-height: 24px;
	text-align: right;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: fixed;
	top: 158px;
	left: 50%;
	margin-left: -395px;
}

#u1576-4
{
	z-index: 3;
	display: block;
	vertical-align: top;
	position: fixed;
	top: 186px;
	left: 50%;
	margin-left: 18px;
}

#u1573-4
{
	z-index: 11;
	display: block;
	vertical-align: top;
	position: fixed;
	top: 227px;
	left: 50%;
	margin-left: -247px;
}

#u1574-4
{
	z-index: 15;
	width: 255px;
	min-height: 41px;
	font-size: 25px;
	color: #909090;
	line-height: 30px;
	text-align: right;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: fixed;
	top: 381px;
	left: 50%;
	margin-left: -295px;
}

#u1597-4
{
	z-index: 7;
	width: 72px;
	min-height: 41px;
	color: #909090;
	font-size: 25px;
	line-height: 30px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: fixed;
	top: 381px;
	left: 50%;
	margin-left: 27px;
}

#u1636-4
{
	z-index: 35;
	width: 121px;
	min-height: 25px;
	font-size: 20px;
	color: #909090;
	line-height: 24px;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: fixed;
	bottom: 171px;
	left: 44px;
}

#u1637-4
{
	z-index: 39;
	width: 121px;
	min-height: 25px;
	font-size: 20px;
	color: #909090;
	line-height: 24px;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: fixed;
	bottom: 139px;
	left: 44px;
}

#u1575-5
{
	z-index: 23;
	width: 355px;
	min-height: 41px;
	font-size: 20px;
	color: #909090;
	line-height: 24px;
	text-align: right;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: fixed;
	top: 626px;
	left: 50%;
	margin-left: 207px;
}

#u1575-2
{
	font-weight: 400;
}

#u1638-4
{
	z-index: 43;
	width: 121px;
	min-height: 25px;
	font-size: 20px;
	color: #909090;
	line-height: 24px;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: fixed;
	bottom: 108px;
	left: 44px;
}

#u1639-4
{
	z-index: 47;
	width: 121px;
	min-height: 25px;
	font-size: 20px;
	color: #909090;
	line-height: 24px;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: fixed;
	bottom: 76px;
	left: 44px;
}

#u1640-4
{
	z-index: 51;
	width: 121px;
	min-height: 25px;
	font-size: 20px;
	color: #909090;
	line-height: 24px;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: fixed;
	bottom: 45px;
	left: 44px;
}

#u1629
{
	z-index: 28;
	width: 25px;
	padding-bottom: 150px;
	left: -88px;
	position: relative;
}

#u1630
{
	z-index: 29;
	width: 25px;
	position: fixed;
	bottom: 45px;
	left: 12px;
}

#u1630_position_content
{
	margin-top: -468px;
	margin-bottom: 618px;
}

#u1633
{
	z-index: 30;
	width: 25px;
	height: 25px;
	border-color: #000000;
	background-color: #E6E4E4;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-khtml-border-radius: 30px;
	border-radius: 30px;
	position: fixed;
	bottom: 170px;
	left: 12px;
}

#u1632
{
	z-index: 31;
	width: 25px;
	height: 25px;
	border-color: #000000;
	background-color: #C8C7C7;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-khtml-border-radius: 30px;
	border-radius: 30px;
	position: fixed;
	bottom: 138px;
	left: 12px;
}

#u1634
{
	z-index: 32;
	width: 25px;
	height: 25px;
	border-color: #000000;
	background-color: #ADADAD;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-khtml-border-radius: 30px;
	border-radius: 30px;
	position: fixed;
	bottom: 107px;
	left: 12px;
}

#u1635
{
	z-index: 33;
	width: 25px;
	height: 25px;
	border-color: #000000;
	background-color: #909090;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-khtml-border-radius: 30px;
	border-radius: 30px;
	position: fixed;
	bottom: 76px;
	left: 12px;
}

#u1631
{
	z-index: 34;
	width: 25px;
	height: 25px;
	border-color: #000000;
	background-color: #787878;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-khtml-border-radius: 30px;
	border-radius: 30px;
	position: fixed;
	bottom: 45px;
	left: 12px;
}

body
{
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

