.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1200px;
	min-height: 699.95px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: 1px;
	margin-bottom: 9px;
}

#u1512
{
	z-index: 4;
	width: 1431px;
	height: 2381px;
	border-color: #000000;
	background-color: #E6E4E4;
	position: fixed;
	top: -1187px;
	left: 50%;
	margin-left: 0px;
}

#u1554
{
	z-index: 2;
	width: 1120px;
	left: -307px;
	position: relative;
}

#pu1746
{
	width: 0.01px;
	padding-left: 56px;
	padding-right: 1181px;
	padding-bottom: 581px;
	left: -56px;
	top: -591px;
	margin-bottom: -581px;
	position: relative;
}

#u1746
{
	z-index: 59;
	width: 68px;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	position: fixed;
	-webkit-transform: matrix(0,1,-1,0,68,0);
	-ms-transform: matrix(0,1,-1,0,68,0);
	-o-transform: matrix(0,1,-1,0,68,0);
	transform: matrix(0,1,-1,0,68,0);
	top: 98px;
	left: 50%;
	margin-left: 166px;
}

#u1744
{
	z-index: 57;
	width: 68px;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	position: fixed;
	-webkit-transform: matrix(0,-1,1,0,0,68);
	-ms-transform: matrix(0,-1,1,0,0,68);
	-o-transform: matrix(0,-1,1,0,0,68);
	transform: matrix(0,-1,1,0,0,68);
	top: 98px;
	left: 50%;
	margin-left: 357px;
}

#u1507-4
{
	z-index: 5;
	display: block;
	vertical-align: top;
	position: fixed;
	top: 186px;
	left: 50%;
	margin-left: 18px;
}

#u1498-4
{
	z-index: 9;
	width: 520px;
	min-height: 41px;
	color: #909090;
	font-size: 25px;
	line-height: 30px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: fixed;
	top: 381px;
	left: 50%;
	margin-left: 27px;
}

#u1513-4
{
	z-index: 19;
	width: 503px;
	min-height: 28px;
	color: #FFFFFF;
	font-size: 23px;
	line-height: 28px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: fixed;
	top: 445px;
	left: 50%;
	margin-left: 44px;
}

#u1499-8
{
	z-index: 23;
	width: 503px;
	min-height: 28px;
	color: #909090;
	font-size: 20px;
	line-height: 24px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: fixed;
	top: 473px;
	left: 50%;
	margin-left: 44px;
}

#u1516-4
{
	z-index: 45;
	width: 190px;
	min-height: 28px;
	color: #FFFFFF;
	font-size: 23px;
	line-height: 28px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: fixed;
	top: 566px;
	left: 50%;
	margin-left: 44px;
}

#u1515-4
{
	z-index: 31;
	width: 251px;
	min-height: 28px;
	color: #FFFFFF;
	font-size: 23px;
	line-height: 28px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: fixed;
	top: 566px;
	left: 50%;
	margin-left: 329px;
}

#u1794-4
{
	z-index: 68;
	width: 121px;
	min-height: 25px;
	font-size: 20px;
	color: #909090;
	line-height: 24px;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: fixed;
	bottom: 171px;
	left: 44px;
}

#u1510-8
{
	z-index: 49;
	width: 268px;
	min-height: 28px;
	color: #909090;
	font-size: 20px;
	line-height: 24px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: fixed;
	top: 594px;
	left: 50%;
	margin-left: 44px;
}

#u1511-6
{
	z-index: 39;
	width: 251px;
	min-height: 28px;
	color: #909090;
	font-size: 20px;
	line-height: 24px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: fixed;
	top: 597px;
	left: 50%;
	margin-left: 330px;
}

#u1795-4
{
	z-index: 72;
	width: 121px;
	min-height: 25px;
	font-size: 20px;
	color: #909090;
	line-height: 24px;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: fixed;
	bottom: 139px;
	left: 44px;
}

#u1796-4
{
	z-index: 76;
	width: 121px;
	min-height: 25px;
	font-size: 20px;
	color: #909090;
	line-height: 24px;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: fixed;
	bottom: 108px;
	left: 44px;
}

#u1797-4
{
	z-index: 80;
	width: 121px;
	min-height: 25px;
	font-size: 20px;
	color: #909090;
	line-height: 24px;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: fixed;
	bottom: 76px;
	left: 44px;
}

#u1500-4
{
	z-index: 35;
	width: 211px;
	min-height: 28px;
	color: #C1272D;
	font-size: 23px;
	line-height: 28px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: fixed;
	top: 688px;
	left: 50%;
	margin-left: -360px;
}

#u1798-4
{
	z-index: 84;
	width: 121px;
	min-height: 25px;
	font-size: 20px;
	color: #909090;
	line-height: 24px;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: fixed;
	bottom: 45px;
	left: 44px;
}

#u1514-6
{
	z-index: 13;
	width: 346px;
	min-height: 41px;
	color: #909090;
	font-size: 22px;
	line-height: 26px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 726px;
	left: 50%;
	margin-left: -346px;
}

#u1787
{
	z-index: 61;
	width: 25px;
	padding-bottom: 150px;
	left: -88px;
	top: -97px;
	margin-bottom: -97px;
	position: relative;
}

#u1788
{
	z-index: 62;
	width: 25px;
	position: fixed;
	bottom: 45px;
	left: 12px;
}

#u1788_position_content
{
	margin-top: -468px;
	margin-bottom: 618px;
}

#u1791
{
	z-index: 63;
	width: 25px;
	height: 25px;
	border-color: #000000;
	background-color: #E6E4E4;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-khtml-border-radius: 30px;
	border-radius: 30px;
	position: fixed;
	bottom: 170px;
	left: 12px;
}

#u1789
{
	z-index: 64;
	width: 25px;
	height: 25px;
	border-color: #000000;
	background-color: #C8C7C7;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-khtml-border-radius: 30px;
	border-radius: 30px;
	position: fixed;
	bottom: 138px;
	left: 12px;
}

#u1793
{
	z-index: 65;
	width: 25px;
	height: 25px;
	border-color: #000000;
	background-color: #ADADAD;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-khtml-border-radius: 30px;
	border-radius: 30px;
	position: fixed;
	bottom: 107px;
	left: 12px;
}

#u1790
{
	z-index: 66;
	width: 25px;
	height: 25px;
	border-color: #000000;
	background-color: #909090;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-khtml-border-radius: 30px;
	border-radius: 30px;
	position: fixed;
	bottom: 76px;
	left: 12px;
}

#u1792
{
	z-index: 67;
	width: 25px;
	height: 25px;
	border-color: #000000;
	background-color: #787878;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-khtml-border-radius: 30px;
	border-radius: 30px;
	position: fixed;
	bottom: 45px;
	left: 12px;
}

body
{
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

