.quote---text
{
	font-family: open-sans-n3, sans-serif;
}

.quote---author
{
	font-family: open-sans-n6, sans-serif;
}

#u810-4,#u809-4,#u787-4,#u811-5
{
	font-family: source-sans-pro-n3, sans-serif;
}

