.quote---text
{
	font-family: open-sans-n3, sans-serif;
}

.quote---author
{
	font-family: open-sans-n6, sans-serif;
}

#u744-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u745-4,#u746-4,#u724-4,#u740-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

