.quote---text
{
	font-family: open-sans-n3, sans-serif;
}

.quote---author,.Headline
{
	font-family: open-sans-n6, sans-serif;
}

#u1498-4,#u1513-4,#u1499-8,#u1516-4,#u1515-4,#u1794-4,#u1510-8,#u1511-6,#u1795-4,#u1796-4,#u1797-4,#u1500-4,#u1798-4,#u1514-6
{
	font-family: source-sans-pro-n3, sans-serif;
}

