.quote---text
{
	font-family: open-sans-n3, sans-serif;
}

.quote---author
{
	font-family: open-sans-n6, sans-serif;
}

#u540-4,#u438-4,#u565-4,#u566-4,#u567-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

