.quote---text
{
	font-family: open-sans-n3, sans-serif;
}

.quote---author,.Headline
{
	font-family: open-sans-n6, sans-serif;
}

#u1698-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1697-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1708-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1710-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1722-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1724-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1723-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1705-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1702-4
{
	font-family: open-sans-n3, sans-serif;
}

#widgetu1695_input,#widgetu1695_prompt,#widgetu1706_input,#widgetu1706_prompt,#widgetu1701_input,#widgetu1701_prompt
{
	font-family: open-sans, sans-serif;
}

#u1686-4,#u1687-4,#u1688-4,#u1689-4,#u1690-4,#u623-4,#u637-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

