.quote---text
{
	font-family: open-sans-n3, sans-serif;
}

.quote---author,.Headline
{
	font-family: open-sans-n6, sans-serif;
}

#u1401-4,#u1400-4,#u1413-8,#u1467-4,#u1403-4,#u1770-4,#u1468-10,#u1442-4,#u1771-4,#u1772-4,#u1773-4,#u1404-4,#u1774-4,#u1402-6
{
	font-family: source-sans-pro-n3, sans-serif;
}

