.quote---text
{
	font-family: open-sans-n3, sans-serif;
}

.quote---author,.Headline
{
	font-family: open-sans-n6, sans-serif;
}

#u1612-4,#u1574-4,#u1597-4,#u1636-4,#u1637-4,#u1575-5,#u1638-4,#u1639-4,#u1640-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

