.quote---text
{
	font-family: open-sans-n3, sans-serif;
}

.quote---author,.Headline
{
	font-family: open-sans-n6, sans-serif;
}

#u1480-4,#u1486-4,#u1475-6,#u1484-4,#u1474-4,#u1782-4,#u1478-8,#u1485-6,#u1783-4,#u1784-4,#u1785-4,#u1477-4,#u1786-4,#u1476-6
{
	font-family: source-sans-pro-n3, sans-serif;
}

