.quote---text
{
	font-family: open-sans-n3, sans-serif;
}

.quote---author
{
	font-family: open-sans-n6, sans-serif;
}

#u581-4,#u595-4,#u594-4,#u596-4,#u597-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

