.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1200px;
	min-height: 258px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 442px;
	margin-left: auto;
	margin-right: auto;
}

#u652
{
	z-index: 2;
	width: 50px;
	height: 100px;
	border-color: #000000;
	background-color: #7F7F7F;
	opacity: 0.68;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=68)";
	filter: alpha(opacity=68);
	-moz-border-radius: 100px 0px 0px 100px ;
	-webkit-border-radius: 100px 0px 0px 100px ;
	-khtml-border-radius: 100px 0px 0px 100px ;
	border-radius: 100px 0px 0px 100px ;
	position: relative;
	margin-right: -10000px;
	margin-top: 158px;
	left: 364px;
}

#u653
{
	z-index: 3;
	width: 50px;
	height: 100px;
	border-color: #000000;
	background-color: #7F7F7F;
	-moz-border-radius: 100px 0px 0px 100px ;
	-webkit-border-radius: 100px 0px 0px 100px ;
	-khtml-border-radius: 100px 0px 0px 100px ;
	border-radius: 100px 0px 0px 100px ;
	-webkit-transform: matrix(-1,0,0,-1,50,100);
	-ms-transform: matrix(-1,0,0,-1,50,100);
	-o-transform: matrix(-1,0,0,-1,50,100);
	transform: matrix(-1,0,0,-1,50,100);
	position: fixed;
	top: 158px;
	left: 414px;
}

#u686-4
{
	z-index: 24;
	display: block;
	vertical-align: top;
	position: fixed;
	top: 56px;
	left: 50%;
	margin-left: 23px;
}

#u666
{
	z-index: 14;
	width: 187px;
	position: fixed;
	top: 294px;
	left: 50%;
	margin-left: 51px;
}

#pu674
{
	width: 0.01px;
	margin-left: 12px;
	position: relative;
}

#u674
{
	z-index: 17;
	width: 43px;
	height: 43px;
	border-color: #7F7F7F;
	background-color: #B3B3B3;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	-webkit-transform: matrix(0,1,-1,0,43,0);
	-ms-transform: matrix(0,1,-1,0,43,0);
	-o-transform: matrix(0,1,-1,0,43,0);
	transform: matrix(0,1,-1,0,43,0);
	position: relative;
	margin-right: -10000px;
	left: 61px;
}

#u673
{
	z-index: 18;
	width: 30px;
	height: 30px;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	-webkit-transform: matrix(0,1,-1,0,30,0);
	-ms-transform: matrix(0,1,-1,0,30,0);
	-o-transform: matrix(0,1,-1,0,30,0);
	transform: matrix(0,1,-1,0,30,0);
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 67px;
}

#u671
{
	z-index: 19;
	width: 130px;
	height: 164px;
	border-color: #000000;
	background-color: #C7C7C7;
	-moz-border-radius: 100px 0px 0px 100px ;
	-webkit-border-radius: 100px 0px 0px 100px ;
	-khtml-border-radius: 100px 0px 0px 100px ;
	border-radius: 100px 0px 0px 100px ;
	-webkit-transform: matrix(0,1,-1,0,147,17);
	-ms-transform: matrix(0,1,-1,0,147,17);
	-o-transform: matrix(0,1,-1,0,147,17);
	transform: matrix(0,1,-1,0,147,17);
	margin-bottom: -17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 17px;
}

#u669
{
	z-index: 21;
	width: 43px;
	height: 21px;
	border-color: #7F7F7F;
	background-color: #B3B3B3;
	-moz-border-radius: 0px 0px 100px 100px ;
	-webkit-border-radius: 0px 0px 100px 100px ;
	-khtml-border-radius: 0px 0px 100px 100px ;
	border-radius: 0px 0px 100px 100px ;
	position: relative;
	margin-right: -10000px;
	margin-top: 101px;
	left: 61px;
}

#u675
{
	z-index: 22;
	width: 15px;
	height: 15px;
	border-color: #7F7F7F;
	background-color: #B3B3B3;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	-webkit-transform: matrix(0,1,-1,0,15,0);
	-ms-transform: matrix(0,1,-1,0,15,0);
	-o-transform: matrix(0,1,-1,0,15,0);
	transform: matrix(0,1,-1,0,15,0);
	position: relative;
	margin-right: -10000px;
	margin-top: 71px;
	left: 46px;
}

#u670
{
	z-index: 23;
	width: 15px;
	height: 15px;
	border-color: #7F7F7F;
	background-color: #B3B3B3;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	-webkit-transform: matrix(0,1,-1,0,15,0);
	-ms-transform: matrix(0,1,-1,0,15,0);
	-o-transform: matrix(0,1,-1,0,15,0);
	transform: matrix(0,1,-1,0,15,0);
	position: relative;
	margin-right: -10000px;
	margin-top: 71px;
	left: 103px;
}

#u668
{
	z-index: 15;
	width: 43px;
	height: 21px;
	border-color: #7F7F7F;
	background-color: #C7C7C7;
	-moz-border-radius: 0px 0px 100px 100px ;
	-webkit-border-radius: 0px 0px 100px 100px ;
	-khtml-border-radius: 0px 0px 100px 100px ;
	border-radius: 0px 0px 100px 100px ;
	-webkit-transform: matrix(0,1,-1,0,32,-11);
	-ms-transform: matrix(0,1,-1,0,32,-11);
	-o-transform: matrix(0,1,-1,0,32,-11);
	transform: matrix(0,1,-1,0,32,-11);
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 61px;
}

#u672
{
	z-index: 16;
	width: 43px;
	height: 21px;
	border-color: #7F7F7F;
	background-color: #A9A9A9;
	-moz-border-radius: 0px 0px 100px 100px ;
	-webkit-border-radius: 0px 0px 100px 100px ;
	-khtml-border-radius: 0px 0px 100px 100px ;
	border-radius: 0px 0px 100px 100px ;
	-webkit-transform: matrix(0,-1,1,0,11,32);
	-ms-transform: matrix(0,-1,1,0,11,32);
	-o-transform: matrix(0,-1,1,0,11,32);
	transform: matrix(0,-1,1,0,11,32);
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 83px;
}

#u667
{
	z-index: 20;
	width: 30px;
	height: 187px;
	border-color: #000000;
	background-color: #B3B3B3;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	-webkit-transform: matrix(0,1,-1,0,108,79);
	-ms-transform: matrix(0,1,-1,0,108,79);
	-o-transform: matrix(0,1,-1,0,108,79);
	transform: matrix(0,1,-1,0,108,79);
	margin-bottom: -66px;
	position: relative;
	margin-right: -10000px;
	margin-top: -79px;
	left: 79px;
}

#u665
{
	z-index: 4;
	width: 114px;
	position: fixed;
	top: 492px;
	left: 50%;
	margin-left: 238px;
}

#pu656
{
	width: 0.01px;
	margin-left: 7px;
	position: relative;
}

#u656
{
	z-index: 7;
	width: 26px;
	height: 26px;
	border-color: #7F7F7F;
	background-color: #B3B3B3;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	-webkit-transform: matrix(0,1,-1,0,26,0);
	-ms-transform: matrix(0,1,-1,0,26,0);
	-o-transform: matrix(0,1,-1,0,26,0);
	transform: matrix(0,1,-1,0,26,0);
	position: relative;
	margin-right: -10000px;
	left: 37px;
}

#u657
{
	z-index: 8;
	width: 18px;
	height: 18px;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	-webkit-transform: matrix(0,1,-1,0,18,0);
	-ms-transform: matrix(0,1,-1,0,18,0);
	-o-transform: matrix(0,1,-1,0,18,0);
	transform: matrix(0,1,-1,0,18,0);
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 41px;
}

#u654
{
	z-index: 9;
	width: 79px;
	height: 100px;
	border-color: #000000;
	background-color: #C7C7C7;
	-moz-border-radius: 100px 0px 0px 100px ;
	-webkit-border-radius: 100px 0px 0px 100px ;
	-khtml-border-radius: 100px 0px 0px 100px ;
	border-radius: 100px 0px 0px 100px ;
	-webkit-transform: matrix(0,1,-1,0,90,11);
	-ms-transform: matrix(0,1,-1,0,90,11);
	-o-transform: matrix(0,1,-1,0,90,11);
	transform: matrix(0,1,-1,0,90,11);
	margin-bottom: -10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 11px;
}

#u662
{
	z-index: 11;
	width: 26px;
	height: 13px;
	border-color: #7F7F7F;
	background-color: #B3B3B3;
	-moz-border-radius: 0px 0px 100px 100px ;
	-webkit-border-radius: 0px 0px 100px 100px ;
	-khtml-border-radius: 0px 0px 100px 100px ;
	border-radius: 0px 0px 100px 100px ;
	position: relative;
	margin-right: -10000px;
	margin-top: 62px;
	left: 37px;
}

#u663
{
	z-index: 12;
	width: 9px;
	height: 9px;
	border-color: #7F7F7F;
	background-color: #B3B3B3;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	-webkit-transform: matrix(0,1,-1,0,9,0);
	-ms-transform: matrix(0,1,-1,0,9,0);
	-o-transform: matrix(0,1,-1,0,9,0);
	transform: matrix(0,1,-1,0,9,0);
	position: relative;
	margin-right: -10000px;
	margin-top: 43px;
	left: 28px;
}

#u664
{
	z-index: 13;
	width: 9px;
	height: 9px;
	border-color: #7F7F7F;
	background-color: #B3B3B3;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	-webkit-transform: matrix(0,1,-1,0,9,0);
	-ms-transform: matrix(0,1,-1,0,9,0);
	-o-transform: matrix(0,1,-1,0,9,0);
	transform: matrix(0,1,-1,0,9,0);
	position: relative;
	margin-right: -10000px;
	margin-top: 43px;
	left: 63px;
}

#pu668,#pu660
{
	width: 0.01px;
	position: relative;
}

#u660
{
	z-index: 5;
	width: 26px;
	height: 13px;
	border-color: #7F7F7F;
	background-color: #C7C7C7;
	-moz-border-radius: 0px 0px 100px 100px ;
	-webkit-border-radius: 0px 0px 100px 100px ;
	-khtml-border-radius: 0px 0px 100px 100px ;
	border-radius: 0px 0px 100px 100px ;
	-webkit-transform: matrix(0,1,-1,0,20,-6);
	-ms-transform: matrix(0,1,-1,0,20,-6);
	-o-transform: matrix(0,1,-1,0,20,-6);
	transform: matrix(0,1,-1,0,20,-6);
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 38px;
}

#u661
{
	z-index: 6;
	width: 26px;
	height: 13px;
	border-color: #7F7F7F;
	background-color: #A9A9A9;
	-moz-border-radius: 0px 0px 100px 100px ;
	-webkit-border-radius: 0px 0px 100px 100px ;
	-khtml-border-radius: 0px 0px 100px 100px ;
	border-radius: 0px 0px 100px 100px ;
	-webkit-transform: matrix(0,-1,1,0,7,20);
	-ms-transform: matrix(0,-1,1,0,7,20);
	-o-transform: matrix(0,-1,1,0,7,20);
	transform: matrix(0,-1,1,0,7,20);
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 51px;
}

#u655
{
	z-index: 10;
	width: 18px;
	height: 114px;
	border-color: #000000;
	background-color: #B3B3B3;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	-webkit-transform: matrix(0,1,-1,0,66,48);
	-ms-transform: matrix(0,1,-1,0,66,48);
	-o-transform: matrix(0,1,-1,0,66,48);
	transform: matrix(0,1,-1,0,66,48);
	margin-bottom: -40px;
	position: relative;
	margin-right: -10000px;
	margin-top: -48px;
	left: 48px;
}

body
{
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

